export(.onAttach,
       checkZone,
       getCentroid,
       getZones,
       openPlot,
       plotRules,
       venn)
import(admisc)
importFrom("grDevices", "adjustcolor", "dev.cur", "dev.new")
importFrom("graphics", "lines", "par", "plot", "polygon",
           "polypath", "text", "points")
importFrom("utils", "tail", "packageDescription", "read.csv", "capture.output")
importFrom("grDevices", "colorRampPalette")
importFrom("grDevices", "col2rgb", "rgb")
